.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.navIcons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    gap: 1rem; /* Add a consistent distance between icons */
  }

.navIcons>a>img{
    width: 3rem;
    height: 3rem;
}

.navIcons>img{
    width: 3rem;
    height: 3rem;
}

.navIcons>img:hover{
    cursor: pointer;
}

.r-button{
    height:3rem;
    width: 80%;
    align-self: center;
}