.InfoCard {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;  /* Stretches across the entire width */
    outline: 3px solid white;
    max-width: 100%;  /* Ensures it doesn't exceed the parent container */
  }
  
  .infoHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .infoHead > div:hover {
    cursor: pointer;
  }
  
  .logout-button {
    width: 7rem;
    height: 2rem;
    margin-top: 6rem;
    align-self: flex-end;
    color: black;
  }
  